<table mat-table [dataSource]="treatmentsDataSource" matSort>
  <ng-container matColumnDef="patient">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      Patient
    </th>
    <td mat-cell *matCellDef="let treatment">
      {{ treatment.patient }}
    </td>
  </ng-container>

  <ng-container matColumnDef="treatmentCode">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      Treatment Code
    </th>
    <td mat-cell *matCellDef="let treatment">
      {{ treatment.treatmentCode }}
    </td>
  </ng-container>

  <ng-container matColumnDef="treatmentDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      Treatment Date
    </th>
    <td mat-cell *matCellDef="let treatment">
      {{ treatment.treatmentDate | date }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr @animateRows mat-row *matRowDef="let row; columns: columns"></tr>
</table>
